body {
    background-color: #F9F9F9;
}

#loginWrapper {
    width: 650px;
    /* height: 461px; */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 11px; box-shadow: rgba(68, 102, 242, 0.2) 1px 5px 24px 0px;
    padding: 11px 33px 0px;
    margin-top: -10%;
}

.firebaseui .logo {
    max-height: 180px;
}

.firebaseui-container {
    box-shadow: none !important;
    max-width: 420px;
}

#firebaseui-auth-container {
    margin-bottom: 50px;
}

.firebaseui form {
    text-align: center;
}

.firebaseui .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.firebaseui .mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.firebaseui .mat-form-field {
    margin-right: 11px;
}

.firebaseui button[type=submit] {
    text-transform: uppercase;
}