<div class="container d-flex h-100 flex-column">
    <div class="flex-grow-1"></div>
    <div class="row justify-content-center">
        <div id="loginWrapper">

            <!--*********************************-->
            <!--******* START LOGIN FORM ********-->
            <!--*********************************-->
            
            <!-- Logo -->
            <div align="center">
                <img class="logo" src="assets/images/logo.png">
            </div>

            <!-- Instruction -->
            <!-- <div align="center">
                <h1 class="mat-h3">Please sign in to continue</h1>
            </div> -->

            <!-- Form -->
            <!-- <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

                <mat-form-field appearance="outline" [style.fontSize]="'17px'" [style.width]="'260px'">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. user@example.com">
                    <mat-error>
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize]="'17px'" [style.width]="'260px'">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Your Password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <button type="submit" mat-raised-button color="primary" [style.fontSize]="'17px'">Sign In</button>
                
            </form> -->
            <div id="firebaseui-auth-container"></div>

            <!--*********************************-->
            <!--******** END LOGIN FORM *********-->
            <!--*********************************-->

        </div>
    </div>
    <div class="flex-grow-1"></div>
</div>