@import '~@angular/material/theming';
@include mat-core();
@import '../../theming/variables.scss';

$primary: map-get($theme, primary);
$foreground: map-get($theme, foreground);

angularx-wrapper form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: inline-block;
}

.mat-error {
    font-size: 14px;
}