@import '~@angular/material/theming';
@include mat-core();
@import '../../../theming/variables.scss';

$primary: map-get($theme, primary);
$foreground: map-get($theme, foreground);
$text: map-get($foreground, text);

.angularx-table.angularx-table-wrapper {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.angularx-table .mat-grid-tile {
    overflow-x: scroll;
}

.angularx-field-text {
    width: 100%;
    padding: 3px 21px 3px 21px;
}

.angularx-table.hovered .mat-grid-list:hover {
    background: mat-color($primary, lighter);
}

.angularx-table .mat-grid-list:first-:first-child {
    background: transparent;
}

.angularx-table a {
    color: mat-color($primary);
}

.angularx-table a:hover {
    color: mat-color($primary);
    text-decoration: none;
}

.angularx-table .mat-divider:last-child {
    display: none;
}